{% extends 'main.twig' %}

{% block content %}

<form class="good-add" method="post" action='sign'>

<input type="text" name="user_login" placeholder="Your login"> <br>
<input type="password" name="user_password" placeholder="Enter your password"> <br>
<input type="submit" value="Submit">

</form>

{% endblock %}
